services:
  # Rails App
  app:
    image: asia.gcr.io/pipigendut/peasy-ai-assignment:latest
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    tty: true
    environment:
        - RAILS_SERVE_STATIC_FILES=true
        - TZ='Asia/Jakarta'
        - RAILS_LOG_TO_STDOUT='RAILS_LOG_TO_STDOUT'
    ports:
        - 8088:8080
        - 3000:3000
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - sidekiq
    networks:
      - app-network

  # PostgreSQL
  db:
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespassword
      POSTGRES_DB: peasy-ai-db-prod
    networks:
      - app-network

  # Redis
  redis:
    image: redis:latest
    restart: always
    ports:
      - "6379:6379"
    networks:
      - app-network

  # Sidekiq
  sidekiq:
    build: .
    command: bundle exec sidekiq
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    networks:
      - app-network


# Docker Networks
networks:
  app-network:
    driver: bridge